      <footer class="page-footer" style="background-color: #2E3333">
            <div class="container">
                  <div class="row">
                        <div class="col l6 s12">
                              <h5 class="white-text">FoodCT</h5>
                              <p class="grey-text text-lighten-4">Chúng tôi là đơn vị cung cấp dịch vụ vận chuyển thức ăn trên toàn thành phố Cần Thơ.</p>
                        </div>
                        <div class="col l4 offset-l2 s12">
                              <h5 class="white-text">Help</h5>
                              <ul>
                                    <li>
                                          <a class="grey-text text-lighten-3" href="#!">Về chúng tôi</a>
                                    </li>
                                    <li>
                                          <a class="grey-text text-lighten-3" href="#!">Liên hệ</a>
                                    </li>
                                    <li>
                                          <a class="grey-text text-lighten-3" href="#!">FAQ</a>
                                    </li>
                              </ul>
                        </div>
                  </div>
            </div>
            <div class="footer-copyright">
                  <div class="container">
                        © 2018 Copyright
                  </div>
            </div>
      </footer>
