   <% provide(:title, 'Cửa hàng') %>
<%= render 'layout_extends/header' %>

      <section class="background-restaurant">
            <div>
                  <div class="row background-restaurant-background justify-content-center align-items-center">
                        <div class="col s12 background-restaurant-text">
                              <div class="center-align">
                                    <h2>Cửa hàng bạn là cửa hàng thức ăn</h5>
                                          <p>Chúng tôi sẽ giúp bạn tìm kiếm những khách hàng cần dịch vụ giao thức ăn. Sẵn sàng rồi chứ
                                          </p>
                                    <button class="btn">Gọi cho chúng tôi ngay: +84 080000000</button>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
      <section class="restaurant-section1">
            <div class="container">
                  <div class="row">
                        <div class="col m6 s12 offset-m3">
                              <div class="row">
                                    <div class="col m12 s12">
                                          <div class="restaurant-section1-text">
                                                <h2>Tham gia vào cộng đồng CanThoFod</h2>
                                                <p> Cửa hàng của bạn sẽ được cung cấp dịch vụ giao hàng một cách nhanh chóng
                                                </p>
                                          </div>
                                    </div>
                                    <div class="col m12 s12">
                                          <%= image_tag 'section1-restaurant.jpg', class: "restaurant-section1-img"%>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
      <div class="divider"></div>
      <section class="restaurant-section1" style='border-bottom: 1px solid rgb(204, 204, 204); padding-top: 2%;'>
            <div class="container">
                  <div class="row">
                        <div class="col m6 s12 offset-m3">
                              <div class="row">
                                    <div class="col m6 s12">
                                          <div class="restaurant-section1-text pt-5">
                                                <h2>Quản lý tài chính</h2>
                                                <p>Bạn sẽ luôn luôn có một người bạn để quản lý thu nhập
                                                </p>
                                          </div>
                                    </div>
                                    <div class="col m6 s12 ">
                                          <%= image_tag 'restaurant-section3.jpg', class: "restaurant-section1-img"%>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
      <div class="divider"></div>
      <section class="restaurant-section3">
            <div class="container">
                  <div class="row">
                        <div class="col s12 justify-content-center align-items-center">
                              <div class="center-align restaurant-section3-text">
                                     <h2>Để bắt đầu</h2>
                                    <p>Chỉ mất năm phút để đăng ký</p>
                                    <button class="btn">Gọi cho chúng tôi ngay: +84 080000000</button>
                              </div>
                        </div>
                  </div>
            </div>
      </section>



<%= render 'layout_extends/footer' %>