      <% provide(:title, 'Người giao hàng') %>
<%= render 'layout_extends/header' %>

      <section class="background-shipper">
            <div class>
                  <div class="row background-restaurant-background justify-content-center align-items-center">
                        <div class="col s12 m12 background-restaurant-text">
                              <div>
                                    <h2>Thời gian linh hoạt, lương cạnh tranh</h5>
                                          <p>Trở thành người giao hàng?</p>
                                          <button class="btn">Gọi cho chúng tôi ngay: +84 080000000</button>
                              </div>
                        </div>
                  </div>
            </div>
      </section>


            <section class="restaurant-section1">
            <div class="container">
                  <div class="row">
                        <div class="col m6 s12 offset-m3">
                              <div class="row">
                                    <div class="col m6 s12">
                                          <div class="restaurant-section1-text">
                                                <h2>Lựa chọn khi nào làm việc</h2>
                                                <p class="mt-3"> Bạn sẽ có thể tự do trong việc lựa chọn thời gian làm việc của mình. 
                                                </p>
                                          </div>
                                    </div>
                                    <div class="col m6">
                                          <img class="responsive-img restaurant-section1-img" src="https://ow.roocdn.com/assets/images/rider_onboarding/device-f9c0f8e4f37ebea4a372ade1a2da2304.jpg"
                                                alt="">
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </section>


            <div class="divider"></div>
      <section class="restaurant-section1 pt-5 pb-5" style='border-bottom: 1px solid rgb(204, 204, 204);'>
            <div class="container">
                  <div class="row">
                        <div class="col m6 s12 offset-m3">
                              <div class="row">
                                    <div class="m6 s12">
                                          <div class="restaurant-section1-text">
                                                <h2>Đảm bảo an toàn</h2>
                                                <p> Chúng tôi sẽ cung cấp dịch vụ bảo hiểm cho người giao hàng
                                                </p>
                                          </div>
                                    </div>
                                    <div class="m6 s12 ">
                                          <img class="responsive-img restaurant-section1-img" src="https://ow.roocdn.com/assets/images/rider_onboarding/insurance_image/zego-a45af8d75b9483ddcfc4732b8181dfff.jpg"
                                                alt="">
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </section>

       <section class="restaurant-section3">
            <div class="container">
                  <div class="row">
                        <div class="col s12">
                              <div class="center-align restaurant-section3-text">
                                    <h2>Để bắt đầu</h2>
                                    <p>Chỉ mất năm phút để đăng ký</p>
                                    <button class="btn">Gọi cho chúng tôi ngay: +84 080000000</button>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
<%= render 'layout_extends/footer' %>