 <tr>
                                                                        <td style="text-align: center">Đơn hàng - #<%= order.id %></td>
                                                                        <td style="text-align: center"><%= order.total_all_price %></td>
                                                                        <td style="text-align: center"><%= order.order_type.name %></td>
                                                                        <td style="text-align: center">
                                                                              <% if order.order_type.id == 1%>
                                                                                    <%= link_to " <i class='material-icons pull-right'>delete_forever</i>".html_safe, order_change_status_destroy_path(order), method: :post, data: {confirm: "Bạn chắc chắn chứ?"} %>
                                                                              <% end %>
                                                                        </td>
                                                                  <tr>