                        <% if @current_cart.line_items.count > 0 %>
                              <button class="waves-effect waves-light btn modal-trigger" style="width: 100%" data-target="dathang"> Đặt hàng</button>
                        <% else %>
                              <a class="waves-effect waves-teal btn-flat center-align" style="width: 100%" disabled >Vui lòng chọn món để đặt hàng</a>  
                        <% end %>