                        <% if @current_cart.line_items.count > 0 %>
                              <a class="waves-effect waves-light btn modal-trigger" href="#modal1" style="width: 100%">Đặt hàng</a>  
                        <% else %>
                              <a class="waves-effect waves-teal btn-flat center-align" style="width: 100%" disabled >Vui lòng chọn món để đặt hàng</a>  
                        <% end %>